In [1]:
#Exercise 2.1
range(5)

range(0, 5)

In [2]:
type(range(5))

range

In [3]:
#Exercise 2.2
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
for i in range(101):
    if i%7==0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [5]:
for i in range(1,101):
    if (i%5==0 and i%3!=0):
        print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [6]:
#Exercise 2.3
i=0
while i <101:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
i=0
while i <101: 
    if i%7==0:
        print(i)
    i+=1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [8]:
#Exercise 2.5
numbers=[0]
i=1
while len(numbers)<20:
    if (i%5==0 and i%7==0 and i%11==0):
        numbers.append(i)
    i+=1
print(numbers)

[0, 385, 770, 1155, 1540, 1925, 2310, 2695, 3080, 3465, 3850, 4235, 4620, 5005, 5390, 5775, 6160, 6545, 6930, 7315]

In [9]:
#Exercise 2.6
integer=[]
i=1
while len(integer)<1 and i>=1:
    if (i%2==0 and i%3==0 and i%4==0 and i%5==0 and i%6==0 and i%7==0 and i%8==0 and i%9==0 and i%10==0):
        integer.append(i)
    i+=1
print(integer)

[2520]

In [10]:
#Exercise 2.7
collatz=[103]
i=103
while i!=1:
    if (i%2==0):
        i=i//2
    else: 
        i=3*i+1       
    collatz.append(i)
    i
print(collatz)

[103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]