In [1]:
#Excercise 1.1

In [2]:
3+1

4

In [3]:
3*3

9

In [4]:
2**3

8

In [5]:
"Hello, World!"

'Hello, World!'

In [6]:
#Exercise 1.3

In [7]:
'py'+'thon' #concatonates the two strings

'python'

In [8]:
'py'*3+'thon'#triples the first string and then concatonates it with the second

'pypypython'

In [9]:
'py'-'py' #subtraction is not an operation with strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
'3'+3 #cannot concatonate a string with an integer

TypeError: can only concatenate str (not "int") to str

In [11]:
3*'3'#triples the string

'333'

In [12]:
a #nothing has been assigned to a

NameError: name 'a' is not defined

In [13]:
a=3 #assigns to a the value 3

In [14]:
a #displays the assigned value

3

In [15]:
#Exercise 1.4

In [16]:
1==1 #checks to see if 1 is equal to 1 and gives the result

True

In [17]:
1==True #1 is defined to be True, and checks to see of 1 is equal to 1 or if True is the same thing as True, and gives the result

True

In [18]:
0==True #0 is defined to be False, and checks if 0 is equal to 1 or if False is the same thing as True, and gives the result

False

In [19]:
0==False #0 is defined to be False, and checks if 0 is equal to 0 or if False is tha same thing as False, and gives the result

True

In [20]:
3==1*3 #multiplies 1 by 3 and then checks to see if that product is equal to 3

True

In [21]:
(3==1)*3 #checks to see if 3 is equal to 1, which is False.  False is defined to be 0, so it multiples 0 by 3

0

In [22]:
(3==3)*4+3==1 #checks to see if 3 is equal to 3, which is True and that is defined to be 1.  Then multiplies that by 4 and adds 3 to the product.  That sum is then checked to see if it is equal to 1

False

In [23]:
3**5>=4**4 #Raises 3 to the 5th power and check to see if that is greater than or equal to 4 raised to the 4th power

False

In [24]:
#Exercise 1.5

In [25]:
5/3 #divides 5 by 3

1.6666666666666667

In [26]:
5%3 #gives the remainder of 5 divided by 3

2

In [27]:
5.0/3 #divides 5.0 by 3

1.6666666666666667

In [28]:
5/3.0 #divides 5 by 3.0

1.6666666666666667

In [29]:
5.2%3 #gives the remainder of 5.2 divided by 3

2.2

In [30]:
2001**200 #raises 2001 to the 200th power

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

In [31]:
#Exercise 1.6

In [32]:
2000.3**200 #too many decimal point values to compute

OverflowError: (34, 'Result too large')

In [33]:
1.0+1.0-1.0 #takes the sum of the first two float values, then finds the difference with the thrid float value, which will be a float value

1.0

In [34]:
1.0 + 1.0e20 - 1.0e20 #finds the sum of the first two float values, which because of the size of the second value, is approximated to 1.0e20.  Then the difference is found between that and the third value, which will be 0.0

0.0

In [35]:
#Exercise 1.7

In [36]:
name = "James Della Rocca"

In [37]:
"Hello, " + name

'Hello, James Della Rocca'

In [38]:
#Exercise 1.8

In [39]:
float(123) #changes the type of 123 from int to float

123.0

In [40]:
float( '123' ) #changes the type of '123' from string to float

123.0

In [41]:
float('123.23') #changes the type of '123.23' from string to float

123.23

In [42]:
int(123.23) #changes the type of 123.23 from float to int by approximation

123

In [43]:
int('123.23') #cannot change a string with punctuation into an int

ValueError: invalid literal for int() with base 10: '123.23'

In [44]:
int(float("123.23")) #changes the type of "123.23" from a string to float, then changes it from float to int by approximation

123

In [45]:
str(12) #changes the type of 12 from int to string

'12'

In [46]:
str(12.2) #changes the type of 12.2 float to string

'12.2'

In [47]:
bool('a') #True if a non-empty string

True

In [48]:
bool(0) #0 is defined as False

False

In [49]:
bool(0.1) #any number other than 0 can be defined as True

True